## 3. Dictionary_Tuple_Set

## 튜플(Tuple)

### Tuple과 list의 차이점
|   	                     | 튜플(tuple)   	| 리스트(list)  	| 
|---	                     |---	|---	|
|길이                  |고정길이   	|가변길이   	|
|아이템 추가   	|불가능 - append/extend 없음   	| 가능 - append/extend 있음  |
|아이템 제거   	|불가능 - remoe/pop 없음   	| 가능 - remoe/pop 있음(del도 가능)  	|
| 속도  	             |빠름 - 이터레이션에 유리   	| 느림(상대적)  	|
|아이템 타입   	|원소로 다양한 타입을 저장하는 경우 주로 사용(struct와 비슷)   	|원소로 단일 타입을 저장하는 경우 주로 사용(array와 비슷)   	|

In [1]:
myTuple = ("tuple", (1, 2, 3), [4, 5, 6])

# 'tuple'을 출력하시오
# 3을 출력하세요
# 4, 5를 출력하세요
# 4를 출력하세요
# (1, 2, 3)을 출력하세요
print(myTuple[0])
print(myTuple[1][2])
print(myTuple[2][:2])
print(myTuple[2][0])
print(myTuple[1])

tuple
3
[4, 5]
4
(1, 2, 3)

In [3]:
my_tuple = (1, 2, 3, 3, 2, 1)
your_tuple = (4, 5, 6)

# 튜플 연산
# our_tuple과 your_tuple을 연결하세요
# mytuple을 3번 반복하세요
# mytuple에 3이 있는지 확인하세요
# mytuple에 5가 있는지 확인하세요
# mytuple에서 1의 갯수를 출력하세요
# mytuple에서 '2'가 나온 자리의  index값을 출력하세요
print(my_tuple+your_tuple)
for i in range(3):
    print(my_tuple)
print('3' in my_tuple)
print('5' in my_tuple)
print(my_tuple.count(1))
print(my_tuple.index(2))

(1, 2, 3, 3, 2, 1, 4, 5, 6)
(1, 2, 3, 3, 2, 1)
(1, 2, 3, 3, 2, 1)
(1, 2, 3, 3, 2, 1)
False
False
2
1

### dictionary의 키로 사용되는 tuple

In [0]:
# dictionary의 키로 사용되는 tuple
d = {(1, 0): 10, (2, 0): 20, (0, 1): 1}
print(d[(1, 0)])  # "10"
print(d[(0, 1)])  # "1"

In [4]:
t_float = (120.09, 9.11, 2.8)
L_int = [1, 2, 3]

# t_float의 길이를 출력하세요
# t_float의 최대값을 출력하세요
# t_float의 최소값을 출력하세요
# t_float의 합을 출력하세요.
# t_float의 평균을 출력하세요.
# t_float를 오름차순 정렬하세요
import math
print(len(t_float))
print(max(t_float))
print(min(t_float))
print(sum(t_float))
print(sum(t_float)/len(t_float))
sorted(t_float)

3
120.09
2.8
132.0
44.0

[2.8, 9.11, 120.09]

## 집합(Set)

특징
 * 집합은 중복된 데이터를 가질 수 없다.
 * 순서가 없다. 
 
 
 따라서 순서와 관련된 인덱스기호([ ])를 사용할 수 없고, <br>
 중복 데이터를 만드는 +, *를 사용할 수 없습니다. <br>하지만, in, not in, len()은 사용할 수 있습니다.
 
 리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

In [5]:
# my_set이라는 빈 집합을 만들고 타입을 출력하세요..
my_set = set()
type(my_set)

set

In [8]:
# 'sky'와 'sea'를 요소로 하는 set을 만드세요
se = {'sky','sea'}
print(se)
# 'earth' 요소를 추가하세요
se.add('earth')
print(se)
# ('1', '2') 요소를 추가하세요
se.add(('1','2'))
print(se)
# 무작위로 요소 하나를 삭제하세요
se.pop()
print(se)

{'sky', 'sea'}
{'sky', 'earth', 'sea'}
{'sky', 'earth', 'sea', ('1', '2')}
{'earth', 'sea', ('1', '2')}

In [9]:
s_planet = {'수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성'}
print(s_planet)
print()

# '금성' 을 삭제하세요
s_planet.remove('금성')
print(s_planet)

# 위와 다른 함수를 사용해서 '천왕성'을 삭제하세요
s_planet.discard('천왕성')
print(s_planet)

# 모든 항목을 지우세요
s_planet.clear()
print(s_planet)

{'수성', '해왕성', '화성', '목성', '지구', '토성', '금성', '천왕성'}

{'수성', '해왕성', '화성', '목성', '지구', '토성', '천왕성'}
{'수성', '해왕성', '화성', '목성', '지구', '토성'}
set()

### 합집합, 교집합, 차집합, 대칭차집합, 부분집합, 포함관계

In [10]:
A = {1, 2, 3, 4, 5, 6}
B = {1, 2, 3, 7, 8, 9}

# 합집합을 구하세요
print(A.union(B))

# 교집합을 구하세요
print(A.intersection(B))

# 차집합을 구하세요
print(A.difference(B))

# 대칭차집합을 구하세요
print(A.symmetric_difference(B))

# 부분집합
# {4, 5, 6}가 A의 부분집합인지 확인하세요
print({4,5,6}.issubset(A))

# A가 {4, 5, 6}을 포함하닌지 확인하세요
print(A.issuperset({4,5,6}))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
True
True

In [0]:
s_float = {1.0, 3.0, 2.0, 10.0}
print(s_float)
print()

# s_float의 길이를 구하세요
len(s_float)

# s_float를 올림차순 정렬하세요
sorted(s_float)

# s_float에 2.0이 포함되는지 확인하세요
{2.0}.issubset(s_float)

{10.0, 1.0, 2.0, 3.0}

True

## 사전(Dictionary)
* 동일한 Key가 2개 존재할 경우 같은 쌍은 무시
* Key에 리스트는 쓸 수 없다는 것이다. 하지만 튜플은 Key로 쓸 수 있다.

In [0]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}

# 아래와 같이 출력되도록 코딩하세요.
# for문을 사용하세요.
# 
# {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', 
#  '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

for i,k in enumerate(solar1):
    solardict[k] = solar2[i]
    
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

#### enumerate
반복문 사용 시 몇 번째 반복문인지 확인이 필요할 수 있습니다. 이때 사용합니다.
인덱스 번호와 컬렉션의 원소를 tuple형태로 반환합니다.

```
>>> t = [1, 5, 7, 33, 39, 52]
>>> for p in enumerate(t):
...     print(p)
... 
(0, 1)
(1, 5)
(2, 7)
(3, 33)
(4, 39)
(5, 52)
```


tuple형태 반환을 이용하여 아래처럼 활용할 수 있습니다.\


```
>>> for i, v in enumerate(t):
...     print("index : {}, value: {}".format(i,v))
... 
index : 0, value: 1
index : 1, value: 5
index : 2, value: 7
index : 3, value: 33
index : 4, value: 39
index : 5, value: 52
```


출처 : https://wikidocs.net/32

### modify dictionary value

In [0]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# Aimy의 value를 10000으로 수정하세요
names['Aimy'] = 10000
names['Aimy']

10000

### dictionary 값 출력 및 삭제

In [16]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# 'Sams'를 삭제하세요
del names['Sams']
print(names)

# value 값들의 합을 구하세요
n_sum=0
for val in names.values():
    n_sum = n_sum + val
print(n_sum)

# value 값들의 최대값을 구하세요
print(max(names.values()))

# key값들을 출력하세요
print(list(names.keys()))
# value값들을 출력하세요
print(list(names.values()))
# 모든 요소를 삭제하세요
names.clear()
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
81879
27115
['Mary', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
[10999, 9778, 20245, 27115, 5887, 7855]
{}

In [0]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# 이름을 입력받고, 이름의 값을 출력하도록 코딩하세요
a=input('What\'s your name? ')

##
# 입력을 받고, 있으면 값을 출력 없으면 이름과 값을 00000으로 딕셔너리 입력값으로 들어감
if a in names.keys():
    print(names[a])
else:
    names.setdefault(a,'00000')
print(names)

What's your name? kim
{'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855, 'kim': '00000'}

### dictionary 키 혹은 값 정렬

In [25]:

# 1. key를 기준으로 사전식 오름차순 정렬
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

print(sorted(names.keys())) # 반환값이 key만 나옴. 영구적인 sort가 아님


# 2. values을 기준으로 오름차순 정렬
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
ret1 = sorted(names.items(), key=lambda x: x[1])
print(ret1) # 반환값이 사전식으로 나옴
 
# 3. 2번과 비슷
ret2 = sorted(names.values())
print(ret2) # 반환되는값이 value값만 잇음

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[2111, 5887, 7855, 9778, 10999, 20245, 27115]

### dictionary 값 설정

In [26]:
my_idol = {"name": "쯔위", "age": 18, "job": "singer"}

# age의 값을 출력하시오
print(my_idol['age'])

# job의 값을 출력하시오
print(my_idol['job'])

# name의 값을 '수지'로 수정하시오
my_idol['name'] = '수지'
print(my_idol)

# 'birth' 의 값을 '1994-07-07'로 추가하시오
my_idol.setdefault('birth','1994-07-07')
print(my_idol)

# 'manager'의 값을 'JYP'로 추가하시오
my_idol.setdefault('manager','JYP')
print(my_idol)

18
singer
{'name': '수지', 'age': 18, 'job': 'singer'}
{'name': '수지', 'age': 18, 'job': 'singer', 'birth': '1994-07-07'}
{'name': '수지', 'age': 18, 'job': 'singer', 'birth': '1994-07-07', 'manager': 'JYP'}

In [31]:
my_idol = {'job': 'singer', 'age': 18, 'name': '수지', 'birth': '1994-10-10'}
print(my_idol)
print()

# 'birth' 항목 가져오고 삭제하기
my_idol.pop('birth')
print(my_idol)

# 'age' 항목 삭제하기
del my_idol['age']
print(my_idol)

# 사전 비우기
my_idol.clear()
print(my_idol)

{'job': 'singer', 'age': 18, 'name': '수지', 'birth': '1994-10-10'}

{'job': 'singer', 'age': 18, 'name': '수지'}
{'job': 'singer', 'name': '수지'}
{}